<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="include/bootstrap :: bootstrap"></div>
</head>
<body style="background-color: #EEEEEE;">
<div th:replace="include/TeacherNav :: TeacherNav"></div>
<div class="jumbotron" style="height: 630px;padding-top: 50px; padding-bottom: 0px; margin-left: 18%;">
    <div style="padding-left: 20px;">
        <h2>
            &emsp;&emsp;在线考试系统
        </h2>
        <p>
            &emsp;&emsp;.....................................<br />
        </p>
        <p>
            &emsp;&emsp;................................ ....... . . ..  .. .  . . . . . .  . . . . . . .
        </p>
        <p>
            ................... .................... .................... ......................... .................
        </p>
        <p>
            <a class="btn btn-primary btn-large" href="https://www.baidu.com">Learn more1</a>
            </br>
            </br>
            <a class="btn btn-primary btn-large" href="https://www.itbaizhan.com">Learn more2</a>
            </br>
            </br>
            <a class="btn btn-primary btn-large" href="https://www.bilibili.com/video/BV1qL411u7eE?spm_id_from=333.999.0.0">Learn more3</a>

        </p>
    </div>
</div>
</body>
</html>