<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="include/bootstrap :: bootstrap"></div>
</head>
<body>
<div th:replace="include/TeacherNav :: TeacherNav"></div>
<div class="table-responsive" style="margin-left: 18%">
    <table class="table table-striped"  >
        <thead>
        <tr>
            <h3><strong th:text="${exam.examName}+'详情'"></strong></h3>
        </tr>
        <tr>
            <th>编号</th>
            <th>题干</th>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>正确答案</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tm: ${tm}">
            <td th:text="${tm.id}"></td>
            <td th:text="${tm.questionContent}"></td>
            <td th:text="${tm.optionA}"></td>
            <td th:text="${tm.optionB}"></td>
            <td th:text="${tm.optionC}"></td>
            <td th:text="${tm.optionD}"></td>
            <td th:text="${tm.answer}"></td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-success" type="button" onclick="window.location='./selectexam'">返回</button>
</div>

</body>
</html>